.outerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #22B14C;
  }
  
  .board {
    width: 1300px;
    height: 700px;
    background-color: #22B14C;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .column {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .bottomRow {
    position: absolute;
    bottom: 20px;
  }
  
  .topRow {
    position: absolute;
    top: 20px;
  }
  
  .rightColumn {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .leftColumn {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .cardContainer {
    width: 70px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .cardImage {
    width: 60px;
    height: 90px;
  }
  
  .rotatedCard {
    transform: rotate(90deg);
  }
  
  .cardButton {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .playerTable {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(228, 210, 210, 0.678);
    padding: 10px;
    border-radius: 5px;
  }
  
  .playerTable table {
    border-collapse: collapse;
    width: 120px;
  }
  
  .playerTable th, .playerTable td {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
  }
  
  .playerTable th {
    background: rgb(2, 226, 255);
  }